
.membersContainer {
    margin: 0 100px;
    padding-top: 20px;
}

.memberNameRow {
    text-align: center;
    padding-bottom: 10px;
}

.memberPhoneRow, .memberEmailRow, .memberContactRow {
    padding-bottom: 5px;
}

.label {
    font-weight: bold;
}
