
.membersContainer {
    margin: 0 100px;
    padding-top: 20px;
    @media only screen and (min-width: 768px) {
        margin: 0 50px;
    }
    @media only screen and (max-width: 768px) {
        margin: 0;
    }
}

.memberNameRow {
    text-align: center;
    padding-bottom: 10px;
}

.memberPhoneRow, .memberEmailRow, .memberContactRow {
    padding-bottom: 5px;
}

.label {
    font-weight: bold;
}
