
.membersContainer {
    margin: 0 100px;
    padding-top: 20px;
    @media only screen and (min-width: 768px) {
        margin: 0 50px;
    }
    @media only screen and (max-width: 768px) {
        margin: 0;
    }
}

.membersActionContainer {
    overflow: auto;
    padding: 10px;
}

.membersTable {
    min-width: 650px;
}